Results:
<div class="results"></div>
<% if (locals.survey.closeTime === "") { %>
  <button id="close-poll">Close Survey</button>
<% } %>
<script src="/socket.io/socket.io.js"></script>
<script src="/admin.js"></script>
