doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    
    //- div.survey
    //- form(name="survey", action="/survey", method="post")
    //-   input(type="text", name="user")
    //-   input(type="password", name="pass")
    //-   input(type="submit", value="login")
    
    form(action='/', method="post")
           div.input
               span.label Question
               textarea(name="question", cols="40", rows="5")
           div.input
               span.label First Response
               input(type="text", name="firstResponse")
           div.input
               span.label Second Response
               input(type="text", name="secondResponse")
           div.input
               span.label Third Response
               input(type="text", name="thirdResponse")
           div.input
               span.label Fourth Response
               input(type="text", name="fourthResponse")
           span.label Pollees See Results?
               select(name="polleesSeeResults")
                 option(value=true) Yes
                 option(value=false) No
           div.input
               span.label Set Close Time (minutes from now) If no time give, close manually
               input(type="number", name="closeTime")
           div.actions
               input(type="submit", value="Create Survey")
