<div id="question">
  <%= locals.survey.question %>
</div>
<div id="choices">
<% if (locals.survey.pollOpen) { %>
  <% for (var i=0; i < locals.survey.responses.length; i++) { %>
    <button><%= locals.survey.responses[i] %></button>
  <% } %>
<% } else { %>
  Sorry, this poll has been closed.
<% } %>
</div>

Results:
<div class="results">
  <%= locals.survey.resultText %>
</div>
<!-- Make sure your JS is at the bottom of the body! -->
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
